@font-face {
  font-family: "iconfont"; /* Project id 3197042 */
  src: url('iconfont.woff2?t=1645500684175') format('woff2'),
       url('iconfont.woff?t=1645500684175') format('woff'),
       url('iconfont.ttf?t=1645500684175') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e63e";
}

.icon-fuzhi:before {
  content: "\e620";
}

